*{
    
}
div.ingredients,div.steps{
    background-color: bisque;
    font-weight: 800;

}
div.steps{
    background-color: aqua;
}
#lasagna-title{
    
    background-color: aquamarine;
    flex: auto;
    color: brown;
}
img{
   margin-bottom: 50px;
}